*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}
main{
    display: flex;
    /* height: 100vh; */
    justify-content: flex-start;
    background-color: thistle;

    /* align-items: center; */


}

.home{
    height: 50px;
    width: 100px;
    text-align:center ;
    font-size: 10px;  
    /* background-color: yellow; */
    position: relative;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
}
.home h1{
    z-index: 3;
    position: absolute;
    top: 10px;
    left: 10px;

}
.home2{
    height: 50px;
    width: 150px;
    font-size: 30px;  
    background-color: rgb(128, 94, 128);
    position: absolute;
    left: -150%;
    top: 0px;
    z-index: 1;
    
}
 .home:hover{
    transform: scale(1.5);
    /* top: 10px; */
    /* left: 5px; */
    z-index: 20;
    border-radius: 20px;
    
}
.home:hover .home2{
    left: 0px;
     /* transform: scaleX(1.5);  */
    transition: 1s;
    

    
} #item4{
    width:130px ;
}

/* ............................................................ 
#item1.home:hover #item2.home{
    background-color: red;
} */