*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    /* border: 2px solid red; */
    /* background-color: rgb(61, 87, 87); */
    display: flex;
    color: white;
    

}
#navbar::before{
    content: "";
    background-image: url("pexels-photo-1761279.jpeg");
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    /* opacity: 0.5; */
}
#logo{
    margin: 3px 17px;

}
#logo img{
    height: 50px;

}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 20px 25px
}

nav ul li a{
    padding: 5px 5px;
    /* border: 2px solid; */
}
nav ul li a:hover{
    background-color: rgb(99, 91, 91);
    color:white;
    border: 2px solid white;
    cursor: pointer;
}